## Build the docker image
## push the docker images to docker hub 
## SSH into our VM and start the new image

name: Deploy the backend 
on: 
  push: 
    branches: [ main ]

jobs: 
  build: 
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout the code 
        uses: actions/checkout@v2

      - name: Docker login
        uses: docker/login-action@v2
        with:
         username: ${{secrets.DOCKERHUB_USERNAME}}
         password: ${{secrets.DOCKERHUB_TOKEN}}  
      
      - name: Build and push ##docker build docker push 
        uses: docker/build-push-action@v4
        with:
         context: .
         file: ./docker/Dockerfile.backend
         push: true
         tags: ${{secrets.DOCKERHUB_USERNAME}}/todo-app-backend:${{github.sha}}
     
      # - name: Deploy to the VM
      #   run: |
      #     echo "${{secrets.SSH_PRIVATE_KEY}}" &> ~/ssh_key
      #     chmod 700 /home/runner/ssh_key
      #     ssh -o StrictHostKeyChecking=no -i ~/ssh_key ${{secrets.MY_SERVERIP}} -t "docker stop user_backend && docker run -d -p 8000:8000 ${{secrets.DOCKERHUB_USERNAME}}/todo-app-backend:${{github.sha}}" 
       